<div class="popUpContainer active">
    <div class="popUpBox popUpBox--bonus">
        <div class="fill-profile">
            <h3>Заполните профиль</h3>
            <p>Для доступа к просмотру необходимо заполнить <a href="profile.html">Профиль</a></p>
        </div>
    </div>

</div>
<section class="bonus hide-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">

                <h2 class="bonus__Title">Бонусы</h2>
                <p class="textGray f14">Boy desirous families prepared gay reserved add ecstatic say. Replied joy age
                    visitor nothing cottage.
                    <br>Mrs door paid led loud sure easy read. Hastily at perhaps as neither or ye fertile tedious visitor.
                </p>
            </div>
            <div class="col-xs-8 col-xs-offset-2">
                <div class="bonus__Box">
                    <div class="bonus__BoxBlue">
                        <h1 class="medium textWhite">77</h1>
                        <p class="textWhite">Доступно</p>
                        <button class="btn btnBlue btnSmall">Вывести</button>
                        <hr>
                        <div class="bonus__BoxBlueCanGet">
                            <p class="textWhite">Можно получить:</p>
                            <h3 class="textWhite medium">33</h3>
                        </div>
                        <div class="bonus__BoxBlueWD">
                            <p class="textWhite">Выведенно:</p>
                            <h3 class="textWhite medium">120</h3>
                        </div>
                    </div>
                    <div class="bonus__BoxWhite">
                        <h6>Условия вывода:</h6>
                        <p class="f12 textGray">Ut velit felis, pulvinar dignissim finibus sed, ultrices sit amet eros. Ut vestibulum gravida
                            mi, ut tempor nibh. Morbi sit amet magna mauris. Pellentesque commodo faucibus tempor. Duis
                            hendrerit a massa quis accumsan. Vivamus lacinia dignissim felis, eu tempor nisl elementum id.
                            Etiam vel ullamcorper nibh.</p>
                        <p class="f12 textGray">Ut velit felis, pulvinar dignissim finibus sed, ultrices sit amet eros. Ut vestibulum gravida
                            mi, ut tempor nibh. Morbi sit amet magna mauris. Pellentesque commodo faucibus tempor. Duis
                            hendrerit a massa quis accumsan. Vivamus lacinia dignissim felis, eu tempor nisl elementum id.
                            Etiam vel ullamcorper nibh.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bonus__WithdrawContainer">
        <div class="bonus__Withdraw">
            <img src="images/svg/mail.svg" alt="">
            <h2>Отправлено</h2>
            <p class="textGray f14">На вашу почту отправленно письмо с дальнейше инструкцией!</p>
            <a href="" class="link">Письмо не пришло, отправить еще раз!</a>
            <svg version="1.1" class="bonus__WithdrawClose" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
            <g>
                <polygon points="7.4,0 4,3.3 0.7,0 0,0.6 3.3,4 0,7.3 0.7,8 4,4.7 7.4,8 8,7.3 4.7,4 8,0.6 	"/>
            </g>
            </svg>
        </div>
    </div>
</section>
