<section class="customerRegistration">
    <form action="">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <div class="customerRegistration__View">
                        <div class="customerRegistration__ViewAvatar">
                            <input type="file" id="customerRegistration__ViewAvatarFile" class="customerRegistration__ViewAvatarFile">
                            <img class="customerRegistration__ViewAvatarImg" src="images/user.jpg" alt="">
                            <label class="customerRegistration__ViewAvatarLabel" for="customerRegistration__ViewAvatarFile">
                                Изменить
                            </label>
                        </div>
                        <div class="customerRegistration__ViewInfo">
                            <h4 class="medium">CompanyName</h4>
                        </div>
                        <hr class="hrGray">
                        <label class="customerRegistration__Label" for="customerRegistration__ViewSelect">Language</label>
                        <select name="" id="customerRegistration__ViewSelect" class="chosen-select-235 chosen-selectSmall">
                            <option value="">English</option>
                            <option value="">Ukrainian</option>
                            <option value="">Italian</option>
                        </select>
                        <hr class="hrGray">
                        <button class="btn btnBlue btnSmall">Сохранить</button>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="customerRegistration__Forms">
                        <div class="alert alertNotification">Notification! Ut enim ad minim veniam, quis nostrud dolor
                            sit amet,
                            consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco
                        </div>
                        <div class="customerRegistration__FormsItem">
                            <h5 class="customerRegistration__FormsTitle">Основная информация</h5>
                            <div class="customerRegistration__FormsInfoInput">
                                <label class="customerRegistration__Label" for="">Название</label>
                                <input type="text" class="input inputSmall" placeholder="CompanyName">
                            </div>
                            <div class="customerRegistration__FormsInfoInput">
                                <label class="customerRegistration__Label" for="">Address</label>
                                <input type="text" class="input inputSmall" placeholder="Kyiv, Yaroslavka st. 39">
                            </div>
                            <div class="customerRegistration__FormsInfoInput">
                                <label class="customerRegistration__Label" for="">Email</label>
                                <input type="text" class="input inputSmall" placeholder="testmail@mail.com">
                            </div>
                            <div class="customerRegistration__FormsInfoInput">
                                <label class="customerRegistration__Label" for="">Телефон</label>
                                <input type="text" class="input inputSmall" placeholder="+38 (066) 156 1458">
                            </div>
                            <div class="customerRegistration__FormsInfoInput">
                                <label class="customerRegistration__Label" for="">URL</label>
                                <input type="text" class="input inputSmall" placeholder="/example">
                            </div>
                        </div>
                        <div class="customerRegistration__FormsItem">
                            <h5 class="customerRegistration__FormsTitle">Юридическое лицо клиента</h5>
                            <div class="customerRegistration__FormsInfoInput">
                                <label class="customerRegistration__Label" for="">Имя</label>
                                <input type="text" class="input inputSmall" placeholder="Александр">
                            </div>
                            <div class="customerRegistration__FormsInfoInput">
                                <label class="customerRegistration__Label" for="">Регистрационные данные</label>
                                <input type="text" class="input inputSmall" placeholder="Placeholder">
                            </div>
                            <div class="customerRegistration__FormsInfoInput">
                                <label class="customerRegistration__Label" for="">Адрес</label>
                                <input type="text" class="input inputSmall" placeholder="Kyiv, Yaroslavka st. 39">
                            </div>
                            <div class="customerRegistration__FormsInfoInput">
                                <label class="customerRegistration__Label" for="">Директор</label>
                                <input type="text" class="input inputSmall" placeholder="Placeholder">
                            </div>
                        </div>
                        <div class="customerRegistration__FormsItem">
                            <h5 class="customerRegistration__FormsTitle">Контактное лицо клиента</h5>
                            <div class="customerRegistration__FormsInfoInput">
                                <label class="customerRegistration__Label" for="">Имя</label>
                                <input type="text" class="input inputSmall" placeholder="Александр">
                            </div>
                            <div class="customerRegistration__FormsInfoInput">
                                <label class="customerRegistration__Label" for="">Фамилия</label>
                                <input type="text" class="input inputSmall" placeholder="Верницкий">
                            </div>
                            <div class="customerRegistration__FormsInfoInput">
                                <label class="customerRegistration__Label" for="">Email</label>
                                <input type="text" class="input inputSmall" placeholder="testmail@mail.com">
                            </div>
                            <div class="customerRegistration__FormsInfoInput">
                                <label class="customerRegistration__Label" for="">Телефон</label>
                                <input type="text" class="input inputSmall" placeholder="+38 (066) 156 1458">
                            </div>
                        </div>
                        <div class="customerRegistration__FormsItem">
                            <h5 class="customerRegistration__FormsTitle">Пароль</h5>
                            <p class="f14 textGray">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusmod tempor
                                <br>incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
                            <div class="customerRegistration__FormsPassInput">
                                <label class="customerRegistration__LabelPass" for="">Старый пароль</label>
                                <input type="password" class="input inputSmall passDots password--type" placeholder="">
                                <svg  version="1.1" class="svgPassword--show" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 24 14" style="enable-background:new 0 0 24 14;" xml:space="preserve">
                            <g>
                                <path class="st0" d="M12,14C5.5,14,0.3,7.5,0.1,7.2C0,7.1,0,6.9,0.1,6.7C0.3,6.5,5.5,0,12,0s11.7,6.5,11.9,6.7
                                    c0.1,0.1,0.1,0.3,0,0.5C23.7,7.5,18.5,14,12,14z M0.8,7c1,1.2,5.7,6.3,11.2,6.3S22.2,8.2,23.2,7c-1-1.2-5.7-6.2-11.2-6.2
                                    C6.5,0.8,1.9,5.8,0.8,7z"/>
                            </g>
                            <path class="st0" d="M15,4.8c0.2,0.6,0,1.2-0.6,1.4c-0.5,0.2-1.1,0-1.4-0.6c-0.2-0.6,0-1.2,0.6-1.4c0.3-0.2,0.7-0.1,1,0.1
                                c-1.5-1.5-3.8-1.6-5.3-0.1s-1.5,4-0.1,5.5c1.5,1.5,3.8,1.6,5.3,0.1C15.9,8.5,16.1,6.3,15,4.8z"/>
                            </svg>
                            </div>
                            <div class="customerRegistration__FormsPassInput">
                                <label class="customerRegistration__LabelPass" for="">Новый пароль</label>
                                <input type="password" class="input inputSmall passDots password--type" placeholder="">
                                <svg  version="1.1" class="svgPassword--show" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 24 14" style="enable-background:new 0 0 24 14;" xml:space="preserve">
                            <g>
                                <path class="st0" d="M12,14C5.5,14,0.3,7.5,0.1,7.2C0,7.1,0,6.9,0.1,6.7C0.3,6.5,5.5,0,12,0s11.7,6.5,11.9,6.7
                                    c0.1,0.1,0.1,0.3,0,0.5C23.7,7.5,18.5,14,12,14z M0.8,7c1,1.2,5.7,6.3,11.2,6.3S22.2,8.2,23.2,7c-1-1.2-5.7-6.2-11.2-6.2
                                    C6.5,0.8,1.9,5.8,0.8,7z"/>
                            </g>
                            <path class="st0" d="M15,4.8c0.2,0.6,0,1.2-0.6,1.4c-0.5,0.2-1.1,0-1.4-0.6c-0.2-0.6,0-1.2,0.6-1.4c0.3-0.2,0.7-0.1,1,0.1
                                c-1.5-1.5-3.8-1.6-5.3-0.1s-1.5,4-0.1,5.5c1.5,1.5,3.8,1.6,5.3,0.1C15.9,8.5,16.1,6.3,15,4.8z"/>
                            </svg>
                            </div>
                            <div class="customerRegistration__FormsPassInput">
                                <label class="customerRegistration__LabelPass" for="">Повторите пароль</label>
                                    <input type="password" class="input inputSmall passDots password--type" placeholder="">
                                    <svg  version="1.1" class="svgPassword--show" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 24 14" style="enable-background:new 0 0 24 14;" xml:space="preserve">
                            <g>
                                <path class="st0" d="M12,14C5.5,14,0.3,7.5,0.1,7.2C0,7.1,0,6.9,0.1,6.7C0.3,6.5,5.5,0,12,0s11.7,6.5,11.9,6.7
                                    c0.1,0.1,0.1,0.3,0,0.5C23.7,7.5,18.5,14,12,14z M0.8,7c1,1.2,5.7,6.3,11.2,6.3S22.2,8.2,23.2,7c-1-1.2-5.7-6.2-11.2-6.2
                                    C6.5,0.8,1.9,5.8,0.8,7z"/>
                            </g>
                            <path class="st0" d="M15,4.8c0.2,0.6,0,1.2-0.6,1.4c-0.5,0.2-1.1,0-1.4-0.6c-0.2-0.6,0-1.2,0.6-1.4c0.3-0.2,0.7-0.1,1,0.1
                                c-1.5-1.5-3.8-1.6-5.3-0.1s-1.5,4-0.1,5.5c1.5,1.5,3.8,1.6,5.3,0.1C15.9,8.5,16.1,6.3,15,4.8z"/>
                            </svg>
                            </div>

                            <label class="inputCustomMarkLabel">
                                <input type="checkbox" name="password" checked="checked">
                                <span class="inputCustomMark"></span>
                                <p>Запомнить меня</p>
                            </label>
                        </div>
                        <h5 class="customerRegistration__OutsideTitle">Бренды</h5>
                        <div class="customerRegistration__BrandContainer">
                            <div class="customerRegistration__BrandItem">
                                <div class="customerRegistration__BrandAvatar">
                                    <input type="file" id="customerRegistration__BrandAvatarFile" class="customerRegistration__BrandAvatarFile">
                                    <img class="customerRegistration__BrandAvatarImg" src="images/company.jpg" alt="">
                                    <label class="customerRegistration__BrandAvatarLabel" for="customerRegistration__BrandAvatarFile">
                                        Изменить
                                    </label>
                                </div>
                                <div class="customerRegistration__BrandInput">
                                    <label class="customerRegistration__Label" for="">Название</label>
                                    <input type="text" class="input inputSmall" placeholder="Placeholder">
                                </div>
                                <div class="customerRegistration__BrandInput">
                                    <label class="customerRegistration__Label" for="">URL</label>
                                    <input type="text" class="input inputSmall" placeholder="Placeholder">
                                </div>
                                <div class="customerRegistration__BrandCheckboxesContainer">
                                    <label class="customerRegistration__Label" for="">Type</label>
                                    <label class="customerRegistration__BrandCheckboxes inputCustomMarkLabel">
                                        <input type="checkbox" name="hello">
                                        <span class="inputCustomMark"></span>
                                        <span class="customerRegistration__BrandCheckboxesText">OTC</span>
                                    </label>
                                    <label class="customerRegistration__BrandCheckboxes inputCustomMarkLabel">
                                        <input type="checkbox" name="hello">
                                        <span class="inputCustomMark"></span>
                                        <span class="customerRegistration__BrandCheckboxesText">OTCs</span>
                                    </label>
                                    <label class="customerRegistration__BrandCheckboxes inputCustomMarkLabel">
                                        <input type="checkbox" name="hello">
                                        <span class="inputCustomMark"></span>
                                        <span class="customerRegistration__BrandCheckboxesText">RXp</span>
                                    </label>
                                    <label class="customerRegistration__BrandCheckboxes inputCustomMarkLabel">
                                        <input type="checkbox" name="hello">
                                        <span class="inputCustomMark"></span>
                                        <span class="customerRegistration__BrandCheckboxesText">RXs</span>
                                    </label>
                                    <label class="customerRegistration__BrandCheckboxes inputCustomMarkLabel">
                                        <input type="checkbox" name="hello">
                                        <span class="inputCustomMark"></span>
                                        <span class="customerRegistration__BrandCheckboxesText">RXh</span>
                                    </label>
                                    <label class="customerRegistration__BrandCheckboxes inputCustomMarkLabel">
                                        <input type="checkbox" name="hello">
                                        <span class="inputCustomMark"></span>
                                        <span class="customerRegistration__BrandCheckboxesText">BAA</span>
                                    </label>
                                    <label class="customerRegistration__BrandCheckboxes inputCustomMarkLabel">
                                        <input type="checkbox" name="hello" checked>
                                        <span class="inputCustomMark"></span>
                                        <span class="customerRegistration__BrandCheckboxesText">DEV</span>
                                    </label>
                                </div>
                                <svg version="1.1" class="customerRegistration__BrandItemClose customerRegistration__BrandItemClose--click" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
            <g>
                <polygon points="7.4,0 4,3.3 0.7,0 0,0.6 3.3,4 0,7.3 0.7,8 4,4.7 7.4,8 8,7.3 4.7,4 8,0.6 	"/>
            </g>
            </svg>
                            </div>
                            <div class="customerRegistration__AddBrand customerRegistration__AddBrand--click">
                                <svg version="1.1" class="customerRegistration__AddBrandSvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 viewBox="0 0 18 18" style="enable-background:new 0 0 18 18;" xml:space="preserve">
                                <polygon style="fill:#1859DD;" points="18,8.5 9.5,8.5 9.5,0 8.5,0 8.5,8.5 0,8.5 0,9.5 8.5,9.5 8.5,18 9.5,18 9.5,9.5 18,9.5 "/>
                            </svg>
                                <span>Добавить бренд</span>
                            </div>
                        </div>
                        <div class="customerRegistration__FormsItem">
                            <h5 class="customerRegistration__FormsTitle">Администратор</h5>
                            <div class="customerRegistration__FormsInfoInput">
                                <label class="customerRegistration__Label" for="">Имя</label>
                                <input type="text" class="input inputSmall" placeholder="Placeholder">
                            </div>
                            <div class="customerRegistration__FormsInfoInput">
                                <label class="customerRegistration__Label" for="">Фамилия</label>
                                <input type="text" class="input inputSmall" placeholder="Placeholder">
                            </div>
                            <div class="customerRegistration__FormsInfoInput">
                                <label class="customerRegistration__Label" for="">E-mail</label>
                                <input type="email" class="input inputSmall" placeholder="testmail@mail.com">
                            </div>
                            <div class="customerRegistration__FormsInfoInput">
                                <label class="customerRegistration__Label" for="">Телефон</label>
                                <input type="text" class="input inputSmall" placeholder="+38 (066) 156 1458">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</section>