<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="presentationCreate__StepOne active">
                <h5 class="presentationCreate__StepOneTitle">Основная информация</h5>
                <div class="presentationCreate__Input">
                    <label class="presentationCreate__Label" for="">Язык</label>
                    <select name="" id="" class="chosen-select-280 chosen-selectSmall">
                        <option value="">English</option>
                        <option value="">Ukrainian</option>
                        <option value="">Italian</option>
                    </select>
                </div>
                <div class="presentationCreate__Input">
                    <label class="presentationCreate__Label" for="">Название</label>
                    <input type="text" class="input inputSmall" placeholder="Константин">
                </div>
                <div class="presentationCreate__Input">
                    <label class="presentationCreate__Label" for="">Brand</label>
                    <input type="text" class="input inputSmall" placeholder="Константин">
                </div>
                <div class="presentationCreate__Input">
                    <label class="presentationCreate__Label" for="">Duration (min)</label>
                    <select name="" id="" class="chosen-select-280 chosen-selectSmall">
                        <option value="">English</option>
                        <option value="">Ukrainian</option>
                        <option value="">Italian</option>
                    </select>
                </div>
                <div class="presentationCreate__Input">
                    <label class="presentationCreate__Label" for="">Bonus</label>
                    <input type="text" class="input inputSmall" placeholder="Константин">
                </div>
                <h5 class="presentationCreate__StepOneTitle">Описание</h5>
                <div class="presentationCreate__Area">
                    <label class="presentationCreate__Label" for="">Short Description</label>
                    <textarea type="text" class="textarea" placeholder="Short Description" maxlength="300"></textarea>
                </div>
                <div class="presentationCreate__Area">
                    <label class="presentationCreate__Label" for="">Long Description</label>
                    <textarea type="text" class="textarea" placeholder="Long Description" maxlength="1800"></textarea>
                </div>
                <h5 class="presentationCreate__StepOneTitle">Advancement</h5>
                <div class="presentationCreate__Input">
                    <label class="presentationCreate__Label" for="">Страна</label>
                    <select name="" id="" class="chosen-select-280 chosen-selectSmall">
                        <option value="">English</option>
                        <option value="">Ukrainian</option>
                        <option value="">Italian</option>
                    </select>
                </div>
                <div class="presentationCreate__Input">
                    <label class="presentationCreate__Label" for="">Город</label>
                    <select name="" id="" class="chosen-select-280 chosen-selectSmall">
                        <option value="">English</option>
                        <option value="">Ukrainian</option>
                        <option value="">Italian</option>
                    </select>
                </div>
                <div class="presentationCreate__Input">
                    <label class="presentationCreate__Label" for="">Медучереждение
                    </label>
                    <select name="" id="" class="chosen-select-280 chosen-selectSmall">
                        <option value="">English</option>
                        <option value="">Ukrainian</option>
                        <option value="">Italian</option>
                    </select>
                </div>
                <h5 class="presentationCreate__StepOneTitle">Flite (lifetime)</h5>
                <div class="presentationCreate__Input">
                    <label class="presentationCreate__Label" for="">Start</label>
                    <input type="text" class="input inputSmall dateTimePicker dateTimePickerStart" placeholder="Start">
                </div>
                <div class="presentationCreate__Input">
                    <label class="presentationCreate__Label" for="">Finish</label>
                    <input type="text" class="input inputSmall dateTimePicker dateTimePickerFinish" placeholder="Finish">
                </div>
                <hr class="hrGray">
                <div class="col-xs-3 col-xs-offset-6">
                    <a href="" class="btn btnWhite">Назад</a>
                </div>
                <div class="col-xs-3">
                    <a href="" class="btn btnBlue btnHoverLightBlue stepsNext">Далее</a>
                </div>
            </div>
        </div>
    </div>
</div>