<div class="col-xs-3">
    <div class="presentationList__ItemSmall">
        <div class="presentationList__ItemSmallImgContainer" data-bonus="25 бонусов">
            <img src="images/img-post-2.png" alt="" class="presentationList__ItemSmallImg">
        </div>
        <h5 class="medium">Презентации omnis iste
            natus error sit voluptatem
            accutium</h5>
        <div class="presentationList__ItemSmallLST">
            <div class="presentationList__ItemSmallLSTImg">
                <img src="images/brand-small.jpg" alt="">
            </div>
            <div class="flex fdc">
                <p class="presentationList__ItemSmallSlides">75 слайдов</p>
                <p class="presentationList__ItemSmallTime">95 минут</p>
            </div>
        </div>
        <p class="presentationList__ItemSmallTags">Специализация, Lorem, ipsor,
            amet, constetur, adipisici, <span class="tooltip" title="Category 1123123<br> category asda2<br> category 3
                        ">еще</span></p>
        <hr class="hrGray">
        <a href="" class="btn btnBlue btnSmall btnHoverLightBlue">Запустить</a>
        <a href="" class="btn btnWhite btnSmall btnMargin">Редактировать</a>
    </div>
</div>