<section class="presentationList">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Презентации</h1>
                <p class="textGray f14">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    <br>eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
                <div class="presentationList__Buttons">
                    <a href="" class="btn btnBlue btnSmall btnNew">Создать</a>
                    <a href="" class="presentationList__Button presentationList__ButtonLeft" >Активные</a>
                    <a href="" class="presentationList__Button presentationList__ButtonRight active">Доступные <span class="amount">99</span></a>
                    <div class="presentationList__Filters">
                        <a href="" class="presentationList__FiltersSmall"><img src="images/SVG/view-small.svg" alt=""></a>
                        <a href="" class="presentationList__FiltersLarge"><img src="images/SVG/view-large.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <include src="../templates/customer_presentation_list_ItemSmall.html"></include>
            <include src="../templates/customer_presentation_list_ItemSmall.html"></include>
            <include src="../templates/customer_presentation_list_ItemSmall.html"></include>
            <include src="../templates/customer_presentation_list_ItemSmall.html"></include>
            <include src="../templates/customer_presentation_list_ItemLarge.html"></include>
            <include src="../templates/customer_presentation_list_ItemLarge.html"></include>
            <include src="../templates/customer_presentation_list_ItemLarge.html"></include>
        </div>
    </div>
    <div class="popUpContainer">
        <div class="presentationList__Start">
            <h5>Запуск презентации</h5>
            <hr class="hrGray">
            <div class="presentationList__StartInputContainer">
                <div class="presentationList__StartInput">
                    <label class="presentationList__StartLabel" for="">Город</label>
                    <select name="" id="" class="chosen-select-270 chosen-selectSmall"
                            data-placeholder="Placeholder" multiple>
                        <option value=""></option>
                        <option value="">Kiev</option>
                        <option value="">Kiev</option>
                        <option value="">Kiev</option>
                    </select>
                </div>
                <div class="presentationList__StartInput">
                    <label class="presentationList__StartLabel" for="">Специализация</label>
                    <select name="" id="" class="chosen-select-270 chosen-selectSmall"
                            data-placeholder="Placeholder" multiple>
                        <option value=""></option>
                        <option value="">Kiev</option>
                        <option value="">Kiev</option>
                        <option value="">Kiev</option>
                    </select>
                </div>
                <div class="presentationList__StartInput">
                    <label class="presentationList__StartLabel" for="">Начало</label>
                    <input type="text" class="input inputSmall dateTimePicker" placeholder="">
                </div>
                <div class="presentationList__StartInput">
                    <label class="presentationList__StartLabel" for="">Конец</label>
                    <input type="text" class="input inputSmall dateTimePicker" placeholder="">
                </div>
                <a href="" class="btn btnBlue btnSmall btnHoverLightBlue">Запустить</a>
            </div>
            <svg version="1.1" class="presentationList__StartClose" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
            <g>
                <polygon points="7.4,0 4,3.3 0.7,0 0,0.6 3.3,4 0,7.3 0.7,8 4,4.7 7.4,8 8,7.3 4.7,4 8,0.6 	"/>
            </g>
            </svg>
        </div>
    </div>
</section>