<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="presentationCreate__StepThree">
                <!--<div class="presentationCreate__AddQuestions">-->
                <!--<h2>Добавление вопросов</h2>-->
                <!--<p class="textGray f14">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do-->
                <!--<br>eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>-->
                <!--<a href="" class="btn btnBlue">Добавить вопрос</a>-->
                <!--</div>-->
                <div class="presentationCreate__QuestionContainer">
                    <div class="presentationCreate__QuestionItem">
                        <div class="presentationCreate__QuestionCount">01.</div>
                        <div class="presentationCreate__QuestionText">Derek Bradley</div>
                        <div class="presentationCreate__QuestionSettings">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
	 viewBox="0 0 4 18" style="enable-background:new 0 0 4 18;" xml:space="preserve">
                                    <circle style="fill:#939EAB;" cx="2" cy="2" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="16" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="9" r="2"/>
                                </svg>
                            <div class="presentationCreate__QuestionSettingsPopup">
                                <ul class="presentationCreate__QuestionSettingsList">
                                    <li class="presentationCreate__QuestionSettingsListItem">Редактировать</li>
                                    <li class="presentationCreate__QuestionSettingsListItem">Удалить</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="presentationCreate__QuestionItem">
                        <div class="presentationCreate__QuestionCount">02.</div>
                        <div class="presentationCreate__QuestionText">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                        <div class="presentationCreate__QuestionSettings">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
	 viewBox="0 0 4 18" style="enable-background:new 0 0 4 18;" xml:space="preserve">
                                    <circle style="fill:#939EAB;" cx="2" cy="2" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="16" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="9" r="2"/>
                                </svg>
                            <div class="presentationCreate__QuestionSettingsPopup">
                                <ul class="presentationCreate__QuestionSettingsList">
                                    <li class="presentationCreate__QuestionSettingsListItem">Редактировать</li>
                                    <li class="presentationCreate__QuestionSettingsListItem">Удалить</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="presentationCreate__QuestionItem">
                        <div class="presentationCreate__QuestionCount">03.</div>
                        <div class="presentationCreate__QuestionText">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        </div>
                        <div class="presentationCreate__QuestionSettings">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
	 viewBox="0 0 4 18" style="enable-background:new 0 0 4 18;" xml:space="preserve">
                                    <circle style="fill:#939EAB;" cx="2" cy="2" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="16" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="9" r="2"/>
                                </svg>
                            <div class="presentationCreate__QuestionSettingsPopup">
                                <ul class="presentationCreate__QuestionSettingsList">
                                    <li class="presentationCreate__QuestionSettingsListItem">Редактировать</li>
                                    <li class="presentationCreate__QuestionSettingsListItem">Удалить</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="presentationCreate__QuestionAddItem">
                        <svg version="1.1" class="presentationCreate__QuestionAddItemSvg" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
	 viewBox="0 0 18 18" style="enable-background:new 0 0 18 18;" xml:space="preserve">
                                    <polygon style="fill:#1859DD;" points="18,8.5 9.5,8.5 9.5,0 8.5,0 8.5,8.5 0,8.5 0,9.5 8.5,9.5 8.5,18 9.5,18 9.5,9.5 18,9.5 "/>
                                </svg>
                        <span>Добавить</span>
                    </div>
                </div>
                <hr class="hrGray">
                <div class="col-xs-3 col-xs-offset-6">
                    <a href="" class="btn btnWhite stepsBack">Назад</a>
                </div>
                <div class="col-xs-3">
                    <button class="btn btnBlue btnHoverLightBlue">Завершить</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popUpContainer">
    <div class="popUpBox popUpBox--lg">
        <div class="presentationCreate__AddQuestionTitle">
            <h5>Добавление слайда</h5>
        </div>
        <hr class="hrGray">
        <label class="presentationCreate__Label presentationCreate__Label--step3" for="">Изображение</label>
        <div class="presentationCreate__AddSlideLoadArea presentationCreate__AddSlideLoadArea--lg">
                <input type="file" id="presentationCreate__AddSlideLoadAreaFile" class="presentationCreate__AddSlideLoadAreaFile">
                <img class="presentationCreate__AddSlideLoadAreaImg" src="" alt="">
                <label class="presentationCreate__AddSlideLoadAreaLabel" for="presentationCreate__AddSlideLoadAreaFile">
                    <div class="presentationCreate__AddSlideLoadAreaLabelContent">
                        <a href="#">Выберете файл</a> для загрузки <br> <span class="small">или</span> <br> Перетащите файл сюда
                    </div>
        </div>
        <div class="presentationCreate__Area">
            <label class="presentationCreate__Label presentationCreate__Label--step3" for="">Вопрос</label>
            <textarea type="text" class="textarea" placeholder="Текст вопроса" maxlength="1300"></textarea>
        </div>
        <label class="presentationCreate__Label presentationCreate__Label--step3" for="">Ответы</label>
        <p class="presentationCreate__Notation"><span class="uppercase">Примечание:</span> Возможно выбрать
            несколько правильных ответов</p>
        <div class="presentationCreate__AddQuestionInput">
            <label class="inputCustomMarkLabel">
                <input type="checkbox" name="">
                <span class="inputCustomMark"></span>
            </label>
            <input type="text" class="input" placeholder="placeholder">
            <div class="presentationCreate__AddQuestionClose">
                <svg version="1.1" class="presentationCreate__AddQuestionCloseSvg" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
	 viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
                    <g>
                    <polygon points="7.4,0 4,3.3 0.7,0 0,0.6 3.3,4 0,7.3 0.7,8 4,4.7 7.4,8 8,7.3 4.7,4 8,0.6 	"/>
                    </g>
                    </svg>
            </div>
        </div>
        <div class="presentationCreate__AddQuestionInput">
            <label class="inputCustomMarkLabel">
                <input type="checkbox" name="">
                <span class="inputCustomMark"></span>
            </label>
            <input type="text" class="input" placeholder="placeholder">
            <div class="presentationCreate__AddQuestionClose">
                <svg version="1.1" class="presentationCreate__AddQuestionCloseSvg" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
	 viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
                    <g>
                    <polygon points="7.4,0 4,3.3 0.7,0 0,0.6 3.3,4 0,7.3 0.7,8 4,4.7 7.4,8 8,7.3 4.7,4 8,0.6 	"/>
                    </g>
                    </svg>
            </div>
        </div>
        <hr class="hrGray">
        <div class="presentationCreate__AddQuestionBtns">
            <a href="" class="btn btnSmall btnSmall--flBasisNone btnBlue btnHoverLightBlue">Сохранить</a>
            <div class="presentationCreate__AddQuestionAnswer">
                <svg version="1.1" class="presentationCreate__AddQuestionAnswerSvg" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
	 viewBox="0 0 18 18" style="enable-background:new 0 0 18 18;" xml:space="preserve">
                                    <polygon style="fill:#1859DD;" points="18,8.5 9.5,8.5 9.5,0 8.5,0 8.5,8.5 0,8.5 0,9.5 8.5,9.5 8.5,18 9.5,18 9.5,9.5 18,9.5 "/>
                                </svg>
                <span>Добавить ответ</span>
            </div>
        </div>
        <svg version="1.1" class="presentationCreate__AddSlideClose" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
	 viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
            <g>
            <polygon points="7.4,0 4,3.3 0.7,0 0,0.6 3.3,4 0,7.3 0.7,8 4,4.7 7.4,8 8,7.3 4.7,4 8,0.6 	"/>
            </g>
        </svg>
    </div>
</div>