<div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="presentationCreate__StepTwo">
                    <!--<div class="presentationCreate__AddSlides">-->
                        <!--<h2>Добавление слайдов</h2>-->
                        <!--<p class="textGray f14">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do-->
                            <!--<br>eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>-->
                        <!--<a href="" class="btn btnBlue">Добавить слайд</a>-->
                    <!--</div>-->
                    <div class="presentationCreate__SlideContainer">
                        <div class="presentationCreate__Slide">
                            <img src="images/new-slide.png" alt="">
                            <div class="presentationCreate__SlideClose">
                                <svg version="1.1" class="presentationCreate__SlideCloseSvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
                                <g>
                                <polygon points="7.4,0 4,3.3 0.7,0 0,0.6 3.3,4 0,7.3 0.7,8 4,4.7 7.4,8 8,7.3 4.7,4 8,0.6 	"/>
                                </g>
                                </svg>
                            </div>
                        </div>
                        <div class="presentationCreate__Slide">
                            <img src="images/new-slide.png" alt="">
                            <div class="presentationCreate__SlideClose">
                                <svg version="1.1" class="presentationCreate__SlideCloseSvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
                                <g>
                                <polygon points="7.4,0 4,3.3 0.7,0 0,0.6 3.3,4 0,7.3 0.7,8 4,4.7 7.4,8 8,7.3 4.7,4 8,0.6 	"/>
                                </g>
                                </svg>
                            </div>
                        </div>
                        <div class="presentationCreate__Slide">
                            <img src="images/new-slide.png" alt="">
                            <div class="presentationCreate__SlideClose">
                                <svg version="1.1" class="presentationCreate__SlideCloseSvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
                                <g>
                                <polygon points="7.4,0 4,3.3 0.7,0 0,0.6 3.3,4 0,7.3 0.7,8 4,4.7 7.4,8 8,7.3 4.7,4 8,0.6 	"/>
                                </g>
                                </svg>
                            </div>
                        </div>
                        <div class="presentationCreate__Slide">
                            <img src="images/new-slide.png" alt="">
                            <div class="presentationCreate__SlideClose">
                                <svg version="1.1" class="presentationCreate__SlideCloseSvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
                                <g>
                                <polygon points="7.4,0 4,3.3 0.7,0 0,0.6 3.3,4 0,7.3 0.7,8 4,4.7 7.4,8 8,7.3 4.7,4 8,0.6 	"/>
                                </g>
                                </svg>
                            </div>
                        </div>
                        <div class="presentationCreate__Slide">
                            <img src="images/new-slide.png" alt="">
                            <div class="presentationCreate__SlideClose">
                                <svg version="1.1" class="presentationCreate__SlideCloseSvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
                                <g>
                                <polygon points="7.4,0 4,3.3 0.7,0 0,0.6 3.3,4 0,7.3 0.7,8 4,4.7 7.4,8 8,7.3 4.7,4 8,0.6 	"/>
                                </g>
                                </svg>
                            </div>
                        </div>
                        <div class="presentationCreate__Slide">
                            <img src="images/new-slide.png" alt="">
                            <div class="presentationCreate__SlideClose">
                                <svg version="1.1" class="presentationCreate__SlideCloseSvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
                                <g>
                                <polygon points="7.4,0 4,3.3 0.7,0 0,0.6 3.3,4 0,7.3 0.7,8 4,4.7 7.4,8 8,7.3 4.7,4 8,0.6 	"/>
                                </g>
                                </svg>
                            </div>
                        </div>
                        <div class="presentationCreate__SlideAdd">
                            <svg version="1.1" class="presentationCreate__SlideAddSvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 18 18" style="enable-background:new 0 0 18 18;" xml:space="preserve">
                                    <polygon style="fill:#1859DD;" points="18,8.5 9.5,8.5 9.5,0 8.5,0 8.5,8.5 0,8.5 0,9.5 8.5,9.5 8.5,18 9.5,18 9.5,9.5 18,9.5 "/>
                                </svg>
                            <span>Добавить</span>
                        </div>
                    </div>
                    <hr class="hrGray">
                    <div class="col-xs-3 col-xs-offset-6">
                        <a href="" class="btn btnWhite stepsBack">Назад</a>
                    </div>
                    <div class="col-xs-3">
                        <a href="" class="btn btnBlue btnHoverLightBlue stepsNext">Далее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="popUpContainer">
        <div class="popUpBox">
            <div class="presentationCreate__AddSlideTitle">
                <h5>Добавление слайда</h5>
            </div>
            <hr class="hrGray">
            <div class="presentationCreate__AddSlideLoadArea">
                <input type="file" id="presentationCreate__AddSlideLoadAreaFile" class="presentationCreate__AddSlideLoadAreaFile">
                <img class="presentationCreate__AddSlideLoadAreaImg" src="" alt="">
                <label class="presentationCreate__AddSlideLoadAreaLabel" for="presentationCreate__AddSlideLoadAreaFile">
                    Выберете файл для загрузки
                </label>
            </div>
            <div class="presentationCreate__Input">
                <label class="presentationCreate__Label" for="">Link to video (youtube)</label>
                <input type="text" class="input inputSmall" placeholder="/example">
            </div>
            <div class="presentationCreate__Area">
                <label class="presentationCreate__Label" for="">Text description</label>
                <textarea type="text" class="textarea" placeholder="Text description" maxlength="300"></textarea>
            </div>
            <a href="" class="btn btnSmall btnBlue btnHoverLightBlue">Сохранить</a>
            <svg version="1.1" class="presentationCreate__AddSlideClose" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
                <g>
                <polygon points="7.4,0 4,3.3 0.7,0 0,0.6 3.3,4 0,7.3 0.7,8 4,4.7 7.4,8 8,7.3 4.7,4 8,0.6 	"/>
                </g>
            </svg>
        </div>
</div>