<section class="editAccountManager">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="editAccountManager__Head">
                    <a href="" class="btn btnBlue btnSmall btnHoverLightBlue">Добавить менеджера</a>
                    <input class="input inputSearch" placeholder="Search" type="text" autocomplete="off">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="editAccountManager__Table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Имя</th>
                        <th>Дата регистрации</th>
                        <th>К-во презентаций</th>
                        <th>Бренды</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td class="editAccountManager__Avatar"><div class="editAccountManager__AvatarContainer"><img src="images/avatar-user.jpg" alt=""></div></td>
                        <td class="editAccountManager__Name">Berek Bradley</td>
                        <td class="editAccountManager__Department">15.02.17</td>
                        <td class="editAccountManager__Role">50</td>
                        <td class="editAccountManager__Brands">
                            <img src="images/Logo/logo1.png" alt="">
                            <img src="images/Logo/logo2.png" alt="">
                            <img src="images/Logo/logo3.png" alt="">
                            <img src="images/Logo/logo4.png" alt="">
                            <div class="editAccountManager__BrandsMore tooltip" title="<img class='logo' src='/images/Logo/logo1.png' title='wota tam wota tam' alt='brand name'><img class='logo' src='/images/Logo/logo2.png' alt='brand name'>">
                                <svg version="1.1" class="editAccountManager__BrandsMoreSvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 4 18" style="enable-background:new 0 0 4 18;" xml:space="preserve">
                                    <circle style="fill:#939EAB;" cx="2" cy="2" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="16" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="9" r="2"/>
                                </svg>
                            </div>
                        </td>
                        <td class="editAccountManager__SettingsContainer">
                            <svg version="1.1" class="editAccountManager__Settings" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 4 18" style="enable-background:new 0 0 4 18;" xml:space="preserve">
                                    <circle style="fill:#939EAB;" cx="2" cy="2" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="16" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="9" r="2"/>
                                </svg>
                            <div class="editAccountManager__SettingsPopup">
                                <ul class="editAccountManager__SettingsList">
                                    <li class="editAccountManager__SettingsListItem">Редактировать</li>
                                    <li class="editAccountManager__SettingsListItem">Удалить</li>
                                </ul>
                            </div></td>
                    </tr>
                        <tr>
                            <td class="editAccountManager__Avatar"><div class="editAccountManager__AvatarContainer"><img src="images/avatar-user.jpg" alt=""></div></td>
                            <td class="editAccountManager__Name">Berek Bradley</td>
                            <td class="editAccountManager__Department">15.02.17</td>
                            <td class="editAccountManager__Role">50</td>
                            <td class="editAccountManager__Brands">
                                <img src="images/Logo/logo1.png" alt="">
                                <img src="images/Logo/logo2.png" alt="">
                                <img src="images/Logo/logo3.png" alt="">
                                <img src="images/Logo/logo4.png" alt="">
                                <div class="editAccountManager__BrandsMore tooltip" title="<img class='logo' src='/images/Logo/logo1.png' alt='brand name'><img class='logo' src='/images/Logo/logo2.png' alt='brand name'>">
                                    <svg version="1.1" class="editAccountManager__BrandsMoreSvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 4 18" style="enable-background:new 0 0 4 18;" xml:space="preserve">
                                    <circle style="fill:#939EAB;" cx="2" cy="2" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="16" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="9" r="2"/>
                                </svg>
                                </div>
                            </td>
                            <td class="editAccountManager__SettingsContainer">
                                <svg version="1.1" class="editAccountManager__Settings" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 4 18" style="enable-background:new 0 0 4 18;" xml:space="preserve">
                                    <circle style="fill:#939EAB;" cx="2" cy="2" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="16" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="9" r="2"/>
                                </svg>
                                <div class="editAccountManager__SettingsPopup">
                                    <ul class="editAccountManager__SettingsList">
                                        <li class="editAccountManager__SettingsListItem">Редактировать</li>
                                        <li class="editAccountManager__SettingsListItem">Удалить</li>
                                    </ul>
                                </div></td>
                        </tr>
                        <tr>
                            <td class="editAccountManager__Avatar"><div class="editAccountManager__AvatarContainer"><img src="images/avatar-user.jpg" alt=""></div></td>
                            <td class="editAccountManager__Name">Berek Bradley</td>
                            <td class="editAccountManager__Department">15.02.17</td>
                            <td class="editAccountManager__Role">50</td>
                            <td class="editAccountManager__Brands">
                                <img src="images/Logo/logo1.png" alt="">
                                <img src="images/Logo/logo2.png" alt="">
                                <img src="images/Logo/logo3.png" alt="">
                                <img src="images/Logo/logo4.png" alt="">
                                <div class="editAccountManager__BrandsMore tooltip" title="<img class='logo' src='/images/Logo/logo1.png' alt='brand name'><img class='logo' src='/images/Logo/logo2.png' alt='brand name'>">
                                    <svg version="1.1" class="editAccountManager__BrandsMoreSvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 4 18" style="enable-background:new 0 0 4 18;" xml:space="preserve">
                                    <circle style="fill:#939EAB;" cx="2" cy="2" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="16" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="9" r="2"/>
                                </svg>
                                </div>
                            </td>
                            <td class="editAccountManager__SettingsContainer">
                                <svg version="1.1" class="editAccountManager__Settings" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 4 18" style="enable-background:new 0 0 4 18;" xml:space="preserve">
                                    <circle style="fill:#939EAB;" cx="2" cy="2" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="16" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="9" r="2"/>
                                </svg>
                                <div class="editAccountManager__SettingsPopup">
                                    <ul class="editAccountManager__SettingsList">
                                        <li class="editAccountManager__SettingsListItem">Редактировать</li>
                                        <li class="editAccountManager__SettingsListItem">Удалить</li>
                                    </ul>
                                </div></td>
                        </tr>
                        <tr>
                            <td class="editAccountManager__Avatar"><div class="editAccountManager__AvatarContainer"><img src="images/avatar-user.jpg" alt=""></div></td>
                            <td class="editAccountManager__Name">Berek Bradley</td>
                            <td class="editAccountManager__Department">15.02.17</td>
                            <td class="editAccountManager__Role">50</td>
                            <td class="editAccountManager__Brands">
                                <img src="images/Logo/logo1.png" alt="">
                                <img src="images/Logo/logo2.png" alt="">
                                <img src="images/Logo/logo3.png" alt="">
                                <img src="images/Logo/logo4.png" alt="">
                                <div class="editAccountManager__BrandsMore tooltip" title="<img class='logo' src='/images/Logo/logo1.png' alt='brand name'><img class='logo' src='/images/Logo/logo2.png' alt='brand name'>">
                                    <svg version="1.1" class="editAccountManager__BrandsMoreSvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 4 18" style="enable-background:new 0 0 4 18;" xml:space="preserve">
                                    <circle style="fill:#939EAB;" cx="2" cy="2" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="16" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="9" r="2"/>
                                </svg>
                                </div>
                            </td>
                            <td class="editAccountManager__SettingsContainer">
                                <svg version="1.1" class="editAccountManager__Settings" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 4 18" style="enable-background:new 0 0 4 18;" xml:space="preserve">
                                    <circle style="fill:#939EAB;" cx="2" cy="2" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="16" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="9" r="2"/>
                                </svg>
                                <div class="editAccountManager__SettingsPopup">
                                    <ul class="editAccountManager__SettingsList">
                                        <li class="editAccountManager__SettingsListItem">Редактировать</li>
                                        <li class="editAccountManager__SettingsListItem">Удалить</li>
                                    </ul>
                                </div></td>
                        </tr>
                        <tr>
                            <td class="editAccountManager__Avatar"><div class="editAccountManager__AvatarContainer"><img src="images/avatar-user.jpg" alt=""></div></td>
                            <td class="editAccountManager__Name">Berek Bradley</td>
                            <td class="editAccountManager__Department">15.02.17</td>
                            <td class="editAccountManager__Role">50</td>
                            <td class="editAccountManager__Brands">
                                <img src="images/Logo/logo1.png" alt="">
                                <img src="images/Logo/logo2.png" alt="">
                                <img src="images/Logo/logo3.png" alt="">
                                <img src="images/Logo/logo4.png" alt="">
                                <div class="editAccountManager__BrandsMore tooltip" title="<img class='logo' src='/images/Logo/logo1.png' alt='brand name'><img class='logo' src='/images/Logo/logo2.png' alt='brand name'>">
                                    <svg version="1.1" class="editAccountManager__BrandsMoreSvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 4 18" style="enable-background:new 0 0 4 18;" xml:space="preserve">
                                    <circle style="fill:#939EAB;" cx="2" cy="2" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="16" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="9" r="2"/>
                                </svg>
                                </div>
                            </td>
                            <td class="editAccountManager__SettingsContainer">
                                <svg version="1.1" class="editAccountManager__Settings" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 4 18" style="enable-background:new 0 0 4 18;" xml:space="preserve">
                                    <circle style="fill:#939EAB;" cx="2" cy="2" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="16" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="9" r="2"/>
                                </svg>
                                <div class="editAccountManager__SettingsPopup">
                                    <ul class="editAccountManager__SettingsList">
                                        <li class="editAccountManager__SettingsListItem">Редактировать</li>
                                        <li class="editAccountManager__SettingsListItem">Удалить</li>
                                    </ul>
                                </div></td>
                        </tr>
                        <tr>
                            <td class="editAccountManager__Avatar"><div class="editAccountManager__AvatarContainer"><img src="images/avatar-user.jpg" alt=""></div></td>
                            <td class="editAccountManager__Name">Berek Bradley</td>
                            <td class="editAccountManager__Department">15.02.17</td>
                            <td class="editAccountManager__Role">50</td>
                            <td class="editAccountManager__Brands">
                                <img src="images/Logo/logo1.png" alt="">
                                <img src="images/Logo/logo2.png" alt="">
                                <img src="images/Logo/logo3.png" alt="">
                                <img src="images/Logo/logo4.png" alt="">
                                <div class="editAccountManager__BrandsMore tooltip" title="<img class='logo' src='/images/Logo/logo1.png' alt='brand name'><img class='logo' src='/images/Logo/logo2.png' alt='brand name'>">
                                    <svg version="1.1" class="editAccountManager__BrandsMoreSvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 4 18" style="enable-background:new 0 0 4 18;" xml:space="preserve">
                                    <circle style="fill:#939EAB;" cx="2" cy="2" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="16" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="9" r="2"/>
                                </svg>
                                </div>
                            </td>
                            <td class="editAccountManager__SettingsContainer">
                                <svg version="1.1" class="editAccountManager__Settings" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 4 18" style="enable-background:new 0 0 4 18;" xml:space="preserve">
                                    <circle style="fill:#939EAB;" cx="2" cy="2" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="16" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="9" r="2"/>
                                </svg>
                                <div class="editAccountManager__SettingsPopup">
                                    <ul class="editAccountManager__SettingsList">
                                        <li class="editAccountManager__SettingsListItem">Редактировать</li>
                                        <li class="editAccountManager__SettingsListItem">Удалить</li>
                                    </ul>
                                </div></td>
                        </tr>
                        <tr>
                            <td class="editAccountManager__Avatar"><div class="editAccountManager__AvatarContainer"><img src="images/avatar-user.jpg" alt=""></div></td>
                            <td class="editAccountManager__Name">Berek Bradley</td>
                            <td class="editAccountManager__Department">15.02.17</td>
                            <td class="editAccountManager__Role">50</td>
                            <td class="editAccountManager__Brands">
                                <img src="images/Logo/logo1.png" alt="">
                                <img src="images/Logo/logo2.png" alt="">
                                <img src="images/Logo/logo3.png" alt="">
                                <img src="images/Logo/logo4.png" alt="">
                                <div class="editAccountManager__BrandsMore tooltip" title="<img class='logo' src='/images/Logo/logo1.png' alt='brand name'><img class='logo' src='/images/Logo/logo2.png' alt='brand name'>">
                                    <svg version="1.1" class="editAccountManager__BrandsMoreSvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 4 18" style="enable-background:new 0 0 4 18;" xml:space="preserve">
                                    <circle style="fill:#939EAB;" cx="2" cy="2" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="16" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="9" r="2"/>
                                </svg>
                                </div>
                            </td>
                            <td class="editAccountManager__SettingsContainer">
                                <svg version="1.1" class="editAccountManager__Settings" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 4 18" style="enable-background:new 0 0 4 18;" xml:space="preserve">
                                    <circle style="fill:#939EAB;" cx="2" cy="2" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="16" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="9" r="2"/>
                                </svg>
                                <div class="editAccountManager__SettingsPopup">
                                    <ul class="editAccountManager__SettingsList">
                                        <li class="editAccountManager__SettingsListItem">Редактировать</li>
                                        <li class="editAccountManager__SettingsListItem">Удалить</li>
                                    </ul>
                                </div></td>
                        </tr>
                        <tr>
                            <td class="editAccountManager__Avatar"><div class="editAccountManager__AvatarContainer"><img src="images/avatar-user.jpg" alt=""></div></td>
                            <td class="editAccountManager__Name">Berek Bradley</td>
                            <td class="editAccountManager__Department">15.02.17</td>
                            <td class="editAccountManager__Role">50</td>
                            <td class="editAccountManager__Brands">
                                <img src="images/Logo/logo1.png" alt="">
                                <img src="images/Logo/logo2.png" alt="">
                                <img src="images/Logo/logo3.png" alt="">
                                <img src="images/Logo/logo4.png" alt="">
                                <div class="editAccountManager__BrandsMore tooltip" title="<img class='logo' src='/images/Logo/logo1.png' alt='brand name'><img class='logo' src='/images/Logo/logo2.png' alt='brand name'>">
                                    <svg version="1.1" class="editAccountManager__BrandsMoreSvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 4 18" style="enable-background:new 0 0 4 18;" xml:space="preserve">
                                    <circle style="fill:#939EAB;" cx="2" cy="2" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="16" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="9" r="2"/>
                                </svg>
                                </div>
                            </td>
                            <td class="editAccountManager__SettingsContainer">
                                <svg version="1.1" class="editAccountManager__Settings" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 4 18" style="enable-background:new 0 0 4 18;" xml:space="preserve">
                                    <circle style="fill:#939EAB;" cx="2" cy="2" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="16" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="9" r="2"/>
                                </svg>
                                <div class="editAccountManager__SettingsPopup">
                                    <ul class="editAccountManager__SettingsList">
                                        <li class="editAccountManager__SettingsListItem">Редактировать</li>
                                        <li class="editAccountManager__SettingsListItem">Удалить</li>
                                    </ul>
                                </div></td>
                        </tr>
                        <tr>
                            <td class="editAccountManager__Avatar"><div class="editAccountManager__AvatarContainer"><img src="images/avatar-user.jpg" alt=""></div></td>
                            <td class="editAccountManager__Name">Berek Bradley</td>
                            <td class="editAccountManager__Department">15.02.17</td>
                            <td class="editAccountManager__Role">50</td>
                            <td class="editAccountManager__Brands">
                                <img src="images/Logo/logo1.png" alt="">
                                <img src="images/Logo/logo2.png" alt="">
                                <img src="images/Logo/logo3.png" alt="">
                                <img src="images/Logo/logo4.png" alt="">
                                <div class="editAccountManager__BrandsMore tooltip" title="<img class='logo' src='/images/Logo/logo1.png' alt='brand name'><img class='logo' src='/images/Logo/logo2.png' alt='brand name'>">
                                    <svg version="1.1" class="editAccountManager__BrandsMoreSvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 4 18" style="enable-background:new 0 0 4 18;" xml:space="preserve">
                                    <circle style="fill:#939EAB;" cx="2" cy="2" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="16" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="9" r="2"/>
                                </svg>
                                </div>
                            </td>
                            <td class="editAccountManager__SettingsContainer">
                                <svg version="1.1" class="editAccountManager__Settings" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 4 18" style="enable-background:new 0 0 4 18;" xml:space="preserve">
                                    <circle style="fill:#939EAB;" cx="2" cy="2" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="16" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="9" r="2"/>
                                </svg>
                                <div class="editAccountManager__SettingsPopup">
                                    <ul class="editAccountManager__SettingsList">
                                        <li class="editAccountManager__SettingsListItem">Редактировать</li>
                                        <li class="editAccountManager__SettingsListItem">Удалить</li>
                                    </ul>
                                </div></td>
                        </tr>
                        <tr>
                            <td class="editAccountManager__Avatar"><div class="editAccountManager__AvatarContainer"><img src="images/avatar-user.jpg" alt=""></div></td>
                            <td class="editAccountManager__Name">Berek Bradley</td>
                            <td class="editAccountManager__Department">15.02.17</td>
                            <td class="editAccountManager__Role">50</td>
                            <td class="editAccountManager__Brands">
                                <img src="images/Logo/logo1.png" alt="">
                                <img src="images/Logo/logo2.png" alt="">
                                <img src="images/Logo/logo3.png" alt="">
                                <img src="images/Logo/logo4.png" alt="">
                                <div class="editAccountManager__BrandsMore tooltip" title="<img class='logo' src='/images/Logo/logo1.png' alt='brand name'><img class='logo' src='/images/Logo/logo2.png' alt='brand name'>">
                                    <svg version="1.1" class="editAccountManager__BrandsMoreSvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 4 18" style="enable-background:new 0 0 4 18;" xml:space="preserve">
                                    <circle style="fill:#939EAB;" cx="2" cy="2" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="16" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="9" r="2"/>
                                </svg>
                                </div>
                            </td>
                            <td class="editAccountManager__SettingsContainer">
                                <svg version="1.1" class="editAccountManager__Settings" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 4 18" style="enable-background:new 0 0 4 18;" xml:space="preserve">
                                    <circle style="fill:#939EAB;" cx="2" cy="2" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="16" r="2"/>
                                    <circle style="fill:#939EAB;" cx="2" cy="9" r="2"/>
                                </svg>
                                <div class="editAccountManager__SettingsPopup">
                                    <ul class="editAccountManager__SettingsList">
                                        <li class="editAccountManager__SettingsListItem">Редактировать</li>
                                        <li class="editAccountManager__SettingsListItem">Удалить</li>
                                    </ul>
                                </div></td>
                        </tr>
                    </tbody>
                </table>
                <ul class="pagination">
                    <li><a class="paginationItem paginationItemPrev" href="" >Назад</a></li>
                    <li><a href="" class="paginationItem paginationPage">11</a></li>
                    <li><a href="" class="paginationItem paginationPage">12</a></li>
                    <li><a href="" class="paginationItem paginationPage">13</a></li>
                    <li><a href="" class="paginationItem paginationPage">14</a></li>
                    <li><a class="paginationItem paginationItemNext" href="" >Вперед</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="popUpContainer">
        <div class="editAccountManager__Add">
            <h5>Добавление менеджера</h5>
            <hr class="hrGray">
            <div class="editAccountManager__AddInputContainer">
                <div class="editAccountManager__AddInput">
                    <label class="editAccountManager__AddLabel" for="">Имя</label>
                    <input type="text" class="input inputSmall" placeholder="Константин">
                </div>
                <div class="editAccountManager__AddInput">
                    <label class="editAccountManager__AddLabel" for="">Фамилия</label>
                    <input type="text" class="input inputSmall" placeholder="Константин">
                </div>
                <div class="editAccountManager__AddInput">
                    <label class="editAccountManager__AddLabel" for="">Email</label>
                    <input type="text" class="input inputSmall" placeholder="testmail@mail.com">
                </div>
                <div class="editAccountManager__AddInput">
                    <label class="editAccountManager__AddLabel" for="">Телефон</label>
                    <input type="text" class="input inputSmall" placeholder="+38 (066) 156 1458">
                </div>
                <div class="editAccountManager__AddInput">
                    <label class="editAccountManager__AddLabel" for="">Department</label>
                    <select name="" id="" class="chosen-select-270 chosen-selectSmall"
                            data-placeholder="Placeholder" multiple>
                        <option value=""></option>
                        <option value="">Kiev</option>
                        <option value="">Kiev</option>
                        <option value="">Kiev</option>
                    </select>
                </div>
                <div class="editAccountManager__AddInput">
                    <label class="editAccountManager__AddLabel" for="">Role in company</label>
                    <select name="" id="" class="chosen-select-270 chosen-selectSmall"
                            data-placeholder="Placeholder" multiple>
                        <option value=""></option>
                        <option value="">Kiev</option>
                        <option value="">Kiev</option>
                        <option value="">Kiev</option>
                    </select>
                </div>
                <a href="" class="btn btnBlue btnSmall btnHoverLightBlue">Сохранить</a>
            </div>
            <svg version="1.1" class="editAccountManager__AddClose" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
            <g>
                <polygon points="7.4,0 4,3.3 0.7,0 0,0.6 3.3,4 0,7.3 0.7,8 4,4.7 7.4,8 8,7.3 4.7,4 8,0.6 	"/>
            </g>
            </svg>
        </div>
    </div>
    <div class="popUpContainer">
        <div class="editAccountManager__Edit">
            <h5>Редактирование</h5>
            <hr class="hrGray">
            <div class="editAccountManager__EditInputContainer">
                <div class="editAccountManager__EditInput">
                    <label class="editAccountManager__EditLabel" for="">Имя</label>
                    <input type="text" class="input inputSmall" placeholder="Константин">
                </div>
                <div class="editAccountManager__EditInput">
                    <label class="editAccountManager__EditLabel" for="">Фамилия</label>
                    <input type="text" class="input inputSmall" placeholder="Константин">
                </div>
                <div class="editAccountManager__EditInput">
                    <label class="editAccountManager__EditLabel" for="">Email</label>
                    <input type="text" class="input inputSmall" placeholder="testmail@mail.com">
                </div>
                <div class="editAccountManager__EditInput">
                    <label class="editAccountManager__EditLabel" for="">Телефон</label>
                    <input type="text" class="input inputSmall" placeholder="+38 (066) 156 1458">
                </div>
                <div class="editAccountManager__EditInput">
                    <label class="editAccountManager__EditLabel" for="">Department</label>
                    <select name="" id="" class="chosen-select-270 chosen-selectSmall"
                            data-placeholder="Placeholder" multiple>
                        <option value=""></option>
                        <option value="">Kiev</option>
                        <option value="">Kiev</option>
                        <option value="">Kiev</option>
                    </select>
                </div>
                <div class="editAccountManager__EditInput">
                    <label class="editAccountManager__EditLabel" for="">Role in company</label>
                    <select name="" id="" class="chosen-select-270 chosen-selectSmall"
                            data-placeholder="Placeholder" multiple>
                        <option value=""></option>
                        <option value="">Kiev</option>
                        <option value="">Kiev</option>
                        <option value="">Kiev</option>
                    </select>
                </div>
                <a href="" class="btn btnBlue btnSmall btnHoverLightBlue">Сохранить</a>
            </div>
            <svg version="1.1" class="editAccountManager__EditClose" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
            <g>
                <polygon points="7.4,0 4,3.3 0.7,0 0,0.6 3.3,4 0,7.3 0.7,8 4,4.7 7.4,8 8,7.3 4.7,4 8,0.6 	"/>
            </g>
            </svg>
        </div>
    </div>
    <div class="popUpContainer">
        <div class="editAccountManager__Delete">
            <svg version="1.1"
                 id="Layer_1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg"
                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                 style="enable-background:new 0 0 100 100;" xml:space="preserve">
            <g transform="translate(0,-952.36218)">
                <path style="fill:#E34C2F;" d="M50,952.4c-27.6,0-50,22.4-50,50c0,27.6,22.4,50,50,50s50-22.4,50-50C100,974.8,77.6,952.4,50,952.4z
                     M50,957.9c24.6,0,44.4,19.9,44.4,44.4c0,24.6-19.9,44.4-44.4,44.4s-44.4-19.9-44.4-44.4C5.6,977.8,25.4,957.9,50,957.9z
                     M49.7,974.5c-1.4,0.2-2.5,1.4-2.5,2.8v38.9c0,1.5,1.2,2.8,2.7,2.8c1.5,0,2.8-1.2,2.8-2.7c0,0,0-0.1,0-0.1v-38.9
                    c0-1.5-1.2-2.8-2.7-2.8C49.9,974.5,49.8,974.5,49.7,974.5z M50,1023.2c-2.3,0-4.2,1.9-4.2,4.2c0,2.3,1.9,4.2,4.2,4.2
                    s4.2-1.9,4.2-4.2C54.2,1025.1,52.3,1023.2,50,1023.2z"/>
            </g>
            </svg>
            <h2>Are you sure?</h2>
            <p class="textGray f14">Your will not be able to recover this</p>
            <a href="" class="btn btnBlue btnHoverLightBlue">Подтвердить</a>
            <svg version="1.1" class="editAccountManager__DeleteClose" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
            <g>
                <polygon points="7.4,0 4,3.3 0.7,0 0,0.6 3.3,4 0,7.3 0.7,8 4,4.7 7.4,8 8,7.3 4.7,4 8,0.6 	"/>
            </g>
            </svg>
        </div>
    </div>
</section>