<section class="registration">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 text-center">
                <div class="registration__Box registration__BoxOne">
                    <h1>Регистрация</h1>
                    <hr class="hr hrGray">
                    <form action="" class="registration__Form">
                        <input type="text" class="input inputLarge" placeholder="Введите свой e-mail">
                        <input type="password" class="input inputLarge" placeholder="Введите свой пароль">
                        <button type="submit" class="btn btnBlue btnLarge">Зарегистрироваться</button>
                    </form>
                    <p class="textGray registration__AlreadyReg">Уже зарегистрированы? <a href="" class="link">Войти</a></p>
                </div>
            </div>
        </div>
    </div>
    <include  src="../templates/infoBlock.html"></include>
</section>