<section class="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 text-center">
                <div class="login__Box login__BoxOne">
                    <h1>Вход</h1>
                    <hr class="hr hrGray">
                    <form action="" class="login__Form">
                        <input type="text" class="input inputLarge" placeholder="Введите свой e-mail">
                        <div class="inputPassword">
                            <input type="password" class="input inputLarge password--type" placeholder="Введите свой пароль">
                            <svg  version="1.1" class="svgPassword--show" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 24 14" style="enable-background:new 0 0 24 14;" xml:space="preserve">
                            <g>
                                <path class="st0" d="M12,14C5.5,14,0.3,7.5,0.1,7.2C0,7.1,0,6.9,0.1,6.7C0.3,6.5,5.5,0,12,0s11.7,6.5,11.9,6.7
                                    c0.1,0.1,0.1,0.3,0,0.5C23.7,7.5,18.5,14,12,14z M0.8,7c1,1.2,5.7,6.3,11.2,6.3S22.2,8.2,23.2,7c-1-1.2-5.7-6.2-11.2-6.2
                                    C6.5,0.8,1.9,5.8,0.8,7z"/>
                            </g>
                            <path class="st0" d="M15,4.8c0.2,0.6,0,1.2-0.6,1.4c-0.5,0.2-1.1,0-1.4-0.6c-0.2-0.6,0-1.2,0.6-1.4c0.3-0.2,0.7-0.1,1,0.1
                                c-1.5-1.5-3.8-1.6-5.3-0.1s-1.5,4-0.1,5.5c1.5,1.5,3.8,1.6,5.3,0.1C15.9,8.5,16.1,6.3,15,4.8z"/>
                            </svg>
                        </div>

                        <button type="submit" class="btn btnBlue btnLarge">Войти</button>
                        <a href="" class="login__Link link linkGray">Забыли пароль?</a>
                    </form>
                    <p class="textGray login__AlreadyReg">Еще не зарегистрированы? <a href="/" class="link">Регистрация</a></p>
                </div>
            </div>
        </div>
    </div>
    <include  src="../templates/infoBlock.html"></include>
</section>