<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="presentationCreateTab__Container">
                <div class="presentationCreateTab presentationCreateTabOne active">
                    <p class="presentationCreateTab__TitleSmall">Шаг 1</p>
                    <p class="presentationCreateTab__TitleBig">Presentation Data</p>
                </div>
                <div class="presentationCreateTab presentationCreateTabTwo">
                    <p class="presentationCreateTab__TitleSmall">Шаг 2</p>
                    <p class="presentationCreateTab__TitleBig">Slides</p>
                </div>
                <div class="presentationCreateTab presentationCreateTabThree">
                    <p class="presentationCreateTab__TitleSmall">Шаг 3</p>
                    <p class="presentationCreateTab__TitleBig">Testing</p>
                </div>
            </div>
        </div>
    </div>
</div>