<section class="presentationList">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Презентации</h1>
                <p class="textGray f14">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    <br>eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
                <div class="presentationList__Buttons">
                    <a href="" class="presentationList__Button presentationList__ButtonLeft" ><span>Активные</span></a>
                    <a href="" class="presentationList__Button presentationList__ButtonMiddle active"><span>Доступные</span> <span class="amount">99</span></a>
                    <a href="" class="presentationList__Button presentationList__ButtonRight"><span>Завершенные</span> <span class="amount">1</span></a>
                    <div class="presentationList__Filters">
                        <a href="" class="presentationList__FiltersSmall"><img src="images/SVG/view-small.svg" alt=""></a>
                        <a href="" class="presentationList__FiltersLarge"><img src="images/SVG/view-large.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <include src="../templates/presentation_list_ItemSmall.html"></include>
            <include src="../templates/presentation_list_ItemSmall.html"></include>
            <include src="../templates/presentation_list_ItemSmall.html"></include>
            <include src="../templates/presentation_list_ItemSmall.html"></include>
            <include src="../templates/presentation_list_ItemLarge.html"></include>
            <include src="../templates/presentation_list_ItemLarge.html"></include>
            <include src="../templates/presentation_list_ItemLarge.html"></include>
        </div>
    </div>
</section>