<div class="col-xs-4">
    <div class="presentationList__ItemLarge">
        <div class="presentationList__ItemLargeImgContainer" data-bonus="25 бонусов">
            <img src="images/img-post-2.png" alt="" class="presentationList__ItemLargeImg">
        </div>
        <h4 class="medium">Презентации omnis iste
            natus error sit voluptatem
            accutium</h4>
        <div class="presentationList__ItemLargeLST">
            <div class="presentationList__ItemLargeLSTImg">
                <img src="images/brand-small.jpg" alt="">
            </div>
            <div class="flex fdc fjsb">
                <p class="presentationList__ItemLargeSlides">75 слайдов</p>
                <p class="presentationList__ItemLargeTime">95 минут</p>
            </div>
        </div>
        <p class="presentationList__ItemLargeTags">Специализация, Lorem, ipsor,
            amet, constetur, adipisici, <span class="tooltip" title="Category 1123123<br> category asda2<br> category 3
                        ">еще</span></p>
        <hr class="hrGray">
        <a href="" class="btn btnBlue btnSmall btnHoverLightBlue">Запустить</a>
        <div class="presentationList__ItemLargeDescription">
            <h5>Описание</h5>
            <p class="textGray f12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit liqip ex ea commodo consequat</p>
        </div>
    </div>
</div>