<section class="presentationDescription">
    <div class="container">
        <div class="presentationDescription__Container">
            <div class="row">
                <div class="col-xs-7">
                    <img class="presentationDescription__Img" src="images/gray-preview.png" alt="">
                    <div class="presentationDescription__Text">
                        <h3 class="medium">Полное описание</h3>
                        <p class="textGray f14">Boy desirous families prepared gay reserved add ecstatic say. Replied
                            joy age visitor nothing cottage. Mrs door paid led loud sure easy read. Hastily at perhaps
                            as neither or ye fertile tedious visitor. Use fine bed none call busy dull when. Quiet ought
                            match my right by table means.
                            Principles up do in me favourable affronting. Twenty mother denied effect we to do. </p>
                        <ul class="ul textGray f14">
                            <li>Turned it up should no valley cousin he. Speaking numerous ask did horrible packages.
                            </li>
                            <li>Ashamed herself has distant can studied mrs. Led therefore its middleton perpetual.</li>
                            <li>Small he drawn after among every three no. All having but you edward genius.</li>
                        </ul>
                        <p class="textGray f14">Adieus except say barton put feebly favour him. Entreaties unpleasant
                            sufficient few pianoforte
                            discovered uncommonly ask. Morning cousins amongst in mr weather do neither. Warmth object
                            matter
                            course active law spring six. Pursuit showing tedious unknown winding see had man add. And
                            park
                            eyes
                            too more him. Simple excuse active had son wholly coming number add. Though all excuse
                            ladies
                            rather
                            regard assure yet. If feelings so prospect no as raptures quitting.
                            Am of mr friendly by strongly peculiar juvenile. Unpleasant it sufficient simplicity am by
                            friendship no inhabiting. Goodness doubtful material has denoting suitable she two. </p>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="presentationDescription__Info">
                        <div class="presentationDescription__InfoLB">
                            <img class="presentationDescription__InfoLogo" src="images/avatar-square.png" alt="">
                            <p class="presentationDescription__InfoBonus">25 бонусов</p>
                        </div>
                        <h3 class="medium">Title Presentation iste natus
                            accutium</h3>
                        <div class="presentationDescription__InfoTS">
                            <p class="presentationDescription__InfoTime">1 час 45 минут</p>
                            <p class="presentationDescription__InfoSlides">75</p>
                        </div>
                        <p class="presentationDescription__InfoTags">Специализация, Lorem, ipsumor, amet, consectetur,
                            adipisici, ullamco, laboris, nisi ut, aliquip, exa, commodo, consequat</p>
                        <div class="presentationDescription__InfoButtons">
                            <a href="" class="btn btnWhite btnSmall">Тестирование</a>
                            <a href="" class="btn btnBlue btnHoverLightBlue btnSmall">Запустить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>