<section class="customerRegistration-wrapper">
    <form action="">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <div class="customerRegistration__View customerRegistration__View--lg">
                        <div class="customerRegistration__ViewAvatar">
                            <input type="file" id="profile__ViewAvatarFile" class="customerRegistration__ViewAvatarFile"> <!--id-->
                            <img class="customerRegistration__ViewAvatarImg" src="images/avatar-user.jpg" alt="">
                            <label class="customerRegistration__ViewAvatarLabel" for="profile__ViewAvatarFile"><!--for id-->
                                Изменить
                            </label>
                        </div>
                        <div class="customerRegistration__ViewInfo--sm">
                            <h4 class="medium">Константин
                                <br>Константинович</h4>
                            <p class="textGray f14">Дата регистрации: 18.11.18</p>
                        </div>
                        <hr class="hrGray">
                        <label class="customerRegistration__Label" for="profile__ViewSelect">Language</label><!--for id-->
                        <select name="" id="profile__ViewSelect" class="chosen-select-235 chosen-selectSmall"><!--id-->
                            <option value="">English</option>
                            <option value="">Ukrainian</option>
                            <option value="">Italian</option>
                        </select>
                        <hr class="hrGray">
                        <button class="btn btnBlue btnSmall">Сохранить</button>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="customerRegistration__Forms">
                        <!-- alertNotification, alertWarning, alertComplete, alertError -->
                        <div class="alert alertNotification">Notification! Ut enim ad minim veniam, quis nostrud dolor
                            sit amet,
                            consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco
                        </div>
                        <div class="customerRegistration__FormsItem">
                            <h5 class="customerRegistration__FormsTitle">Информация</h5>
                            <div class="customerRegistration__FormsInfoInput">
                                <label class="customerRegistration__Label" for="">Имя</label>
                                <input type="text" class="input inputSmall" placeholder="Константин">
                            </div>
                            <div class="customerRegistration__FormsInfoInput">
                                <label class="customerRegistration__Label" for="">Фамилия</label>
                                <input type="text" class="input inputSmall" placeholder="Константинович">
                            </div>
                            <div class="customerRegistration__FormsInfoInput">
                                <label class="customerRegistration__Label" for="">Email</label>
                                <input type="text" class="input inputSmall" placeholder="testmail@mail.com">
                            </div>
                            <div class="customerRegistration__FormsInfoInput">
                                <label class="customerRegistration__Label" for="">Телефон</label>
                                <input type="text" class="input inputSmall" placeholder="+38 (066) 156 1458">
                            </div>
                            <div class="customerRegistration__FormsInfoInput">
                                <label class="customerRegistration__Label" for="">Город</label>
                                <select name="" id="" class="chosen-select-280 chosen-selectSmall"
                                        data-placeholder="Placeholder">
                                    <option value=""></option>
                                    <option value="">Kiev</option>
                                    <option value="">Kiev</option>
                                    <option value="">Kiev</option>
                                </select>
                            </div>
                        </div>
                        <div class="customerRegistration__FormsItem">
                            <h5 class="customerRegistration__FormsTitle">Пароль</h5>
                            <p class="f14 textGray">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusmod tempor
                                <br>incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
                            <div class="customerRegistration__FormsPassInput">
                                <label class="" for="">Старый пароль</label>
                                <input type="password" class="input inputSmall passDots" placeholder="">
                            </div>
                            <div class="customerRegistration__FormsPassInput">
                                <label class="" for="">Новый пароль</label>
                                <input type="password" class="input inputSmall passDots" placeholder="">
                            </div>
                            <div class="customerRegistration__FormsPassInput">
                                <label class="" for="">Повторите пароль</label>
                                <input type="password" class="input inputSmall passDots" placeholder="">
                            </div>
                        </div>
                        <div class="customerRegistration__FormsItem customerRegistration__FormsItemWork">
                            <h5 class="customerRegistration__FormsTitle">Работа</h5>
                            <p class="customerRegistration__FormsNotation"><span class="uppercase">Примечание:</span> Возможно выбрать
                                несколько специализаций для одного медучереждения</p>
                            <div class="customerRegistration__FormsInputWorkContainer">
                                <div class="customerRegistration__FormsWorkInput">
                                    <label class="customerRegistration__Label" for="m1">Медучреждение</label>
                                    <select name="" id="m1" class="chosen-select-search-280 chosen-selectSmall"
                                            data-placeholder="Placeholder">
                                        <option value=""></option>
                                        <option value="Kiev">Kiev</option>
                                        <option value="Kiev">Kiev</option>
                                        <option value="Kiev">Kiev</option>
                                    </select>
                                </div>
                                <div class="customerRegistration__FormsWorkInput">
                                    <label class="customerRegistration__Label" for="m2">Специализация</label>
                                    <select name="" id="m2" class="chosen-select-search-280 chosen-selectSmall"
                                            data-placeholder="Placeholder">
                                        <option value=""></option>
                                        <option value="Kiev">Kiev</option>
                                        <option value="Kiev">Kiev</option>
                                        <option value="Kiev">Kiev</option>
                                    </select>
                                </div>
                                <svg version="1.1" class="customerRegistration__FormsWorkClose customerRegistration__FormsWorkClose--click" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
                                <g>
                                    <polygon points="7.4,0 4,3.3 0.7,0 0,0.6 3.3,4 0,7.3 0.7,8 4,4.7 7.4,8 8,7.3 4.7,4 8,0.6 	"/>
                                </g>
                                </svg>
                            </div>
                            <div class="customerRegistration__FormsAddPlace customerRegistration__FormsAddPlace--click">
                                <svg version="1.1" class="customerRegistration__FormsAddPlaceSvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 18 18" style="enable-background:new 0 0 18 18;" xml:space="preserve">
                                    <polygon style="fill:#1859DD;" points="18,8.5 9.5,8.5 9.5,0 8.5,0 8.5,8.5 0,8.5 0,9.5 8.5,9.5 8.5,18 9.5,18 9.5,9.5 18,9.5 "/>
                                </svg>
                                <p class="f14">Добавить место работы</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>