<section class="statisticsPresentations">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="statistics__Buttons">
                    <a href="" class="statistics__Button statistics__ButtonLeft active"><span>Презентации</span></a>
                    <a href="" class="statistics__Button statistics__ButtonMiddle"><span>Пользователи</span></a>
                    <a href="" class="statistics__Button statistics__ButtonRight"><span>Воронка</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="whiteBox">
                        <div class="col-xs-9">
                            <h4>Title name</h4>
                            <p class="textGray f12">Boy desirous families prepared gay reserved add ecstatic say.
                                Replied joy age visitor
                                <br>nothing cottage. Mrs door paid led loud sure easy read. Hastily at perhaps as
                                neither</p>
                            <div id="highchartsOne" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                            <div class="statisticsPresentations__data">
                                <p class="statisticsPresentations__data-item"><span class="number">4 846</span><span class="text">Всего просмотров</span></p>
                                <p class="statisticsPresentations__data-item"><span class="number">2 811</span><span class="text">Завершено</span></p>
                                <p class="statisticsPresentations__data-item"><span class="number">1:24:46</span><span class="text">Среднее время прохождения</span></p>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="statistics__Input">
                                <label class="statistics__Label" for="">Выбор Флайта</label>
                                <select name="" id="" class="chosen-select-235 chosen-selectSmall">
                                    <option value="">English</option>
                                    <option value="">Ukrainian</option>
                                    <option value="">Italian</option>
                                </select>
                            </div>
                            <div class="statistics__Input">
                                <label class="statistics__Label" for="">Город</label>
                                <select name="" id="" class="chosen-select-235 chosen-selectSmall">
                                    <option value="">English</option>
                                    <option value="">Ukrainian</option>
                                    <option value="">Italian</option>
                                </select>
                            </div>
                            <div class="statistics__Input">
                                <label class="statistics__Label" for="">Медучреждение</label>
                                <select name="" id="" class="chosen-select-235 chosen-selectSmall">
                                    <option value="">English</option>
                                    <option value="">Ukrainian</option>
                                    <option value="">Italian</option>
                                </select>
                            </div>
                            <div class="statistics__Input">
                                <label class="statistics__Label" for="">Специализация</label>
                                <select name="" id="" class="chosen-select-235 chosen-selectSmall">
                                    <option value="">English</option>
                                    <option value="">Ukrainian</option>
                                    <option value="">Italian</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="whiteBox">
                <div class="col-xs-12">
                    <h4>Title name</h4>
                    <p class="textGray f12">Boy desirous families prepared gay reserved add ecstatic say.
                        Replied joy age visitor
                        <br>nothing cottage. Mrs door paid led loud sure easy read. Hastily at perhaps as
                        neither</p>
                    <div id="highchartsTwo" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="whiteBox">
                <div class="col-xs-12">
                    <h4>Title name</h4>
                    <p class="textGray f12">Boy desirous families prepared gay reserved add ecstatic say.
                        Replied joy age visitor
                        <br>nothing cottage. Mrs door paid led loud sure easy read. Hastily at perhaps as
                        neither</p>
                    <div id="highchartsThree" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </div>
</section>