<section class="test">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="test__Title">
                    <h3 class="medium">Title Presentation title</h3>
                    <p class="textGray">Вопрос 1 из 50</p>
                </div>
                <div class="test__TimeContainer">
                    <svg version="1.1" class="test__TimeSvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 15 15" style="enable-background:new 0 0 15 15;" xml:space="preserve">
                    <g>
                        <g>
                            <path style="fill:#939EAB;" d="M7.5,0C3.4,0,0,3.4,0,7.5C0,11.6,3.4,15,7.5,15c4.1,0,7.5-3.4,7.5-7.5C15,3.4,11.6,0,7.5,0z M7.5,13.8
                                C4,13.8,1.2,11,1.2,7.5C1.2,4,4,1.2,7.5,1.2s6.3,2.8,6.3,6.3C13.8,11,11,13.8,7.5,13.8z"/>
                            <path style="fill:#939EAB;" d="M8.1,7.3V3c0-0.3-0.3-0.6-0.6-0.6C7.2,2.4,6.9,2.7,6.9,3v4.5C6.9,7.7,7,7.9,7.1,8c0,0,0,0,0,0l2.3,2.6
                                c0.1,0.1,0.3,0.2,0.5,0.2c0.1,0,0.3-0.1,0.4-0.2c0.3-0.2,0.3-0.6,0.1-0.9L8.1,7.3z"/>
                        </g>
                    </g>
                </svg>
                    <p class="test__Time iconColor">--:--</p>
                </div>
                <hr class="hrGray">
            </div>
            <div class="col-xs-10 col-xs-offset-1 test__Question">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="test__QuestionBox">
                            <img class="test__QuestionImg" src="images/test-img.png" alt="">
                            <div class="test__QuestionTextContainer">
                                <p class="test__QuestionText medium f15">Boy desirous families prepared gay reserved add
                                    ecstatic say. Replied joy age visitor nothing
                                    cottage. Mrs door paid led loud sure easy read. Hastily at perhaps as neither or ye
                                    fertile
                                    tedious visitor. Use fine bed none call busy dull when. Quiet ought match my right
                                    by
                                    table
                                    means. Principles up do in me favourable affronting. Twenty mother denied effect we
                                    to
                                    do
                                    on?</p>
                                <p class="test__QuestionNote colorGreen medium f13"><span
                                        class="uppercase">Примечание:</span>
                                    Возможно несколько правильных ответов</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <form action="">
                            <div class="test__Answers">
                                <div class="test__AnswersItem">
                                    <label class="test__AnswersItemContainer inputCustomMarkLabel">
                                        <input type="checkbox" name="hello">
                                        <span class="inputCustomMark"></span>
                                        <span class="test__AnswersItemText">Cras imperdiet ipsum ipsum, id condimentum lectus finibus vel.</span>
                                    </label>
                                </div>
                                <div class="test__AnswersItem">
                                    <label class="test__AnswersItemContainer inputCustomMarkLabel">
                                        <input type="checkbox" name="hello">
                                        <span class="inputCustomMark"></span>
                                        <span class="test__AnswersItemText">Nulla convallis diam in tellus auctor ornare.
                                        Aliquam ex erat, consectetur at rutrum quis, viverra molestie justo.
                                        Nulla sit amet mi ac metus sollicitudin rhoncus et a risus. Ut porttitor eget
                                        sapien in porttitor. Proin hendrerit ac lacus hendrerit tristique. Quisque nec ligula
                                        et augue convallis sagittis sed ac libero. </span>
                                    </label>
                                </div>
                                <div class="test__AnswersItem">
                                    <label class="test__AnswersItemContainer inputCustomMarkLabel">
                                        <input type="checkbox" name="hello" checked="checked">
                                        <span class="inputCustomMark"></span>
                                        <span class="test__AnswersItemText">Duis hendrerit a massa quis accumsan.</span>
                                    </label>
                                </div>
                                <div class="test__AnswersItem">
                                    <label class="test__AnswersItemContainer inputCustomMarkLabel">
                                        <input type="checkbox" name="hello">
                                        <span class="inputCustomMark"></span>
                                        <span class="test__AnswersItemText">Hastily at perhaps as neither or ye fertile tedious
                                        visitor. Use fine bed none call busy dull when. Quiet ought match my right by
                                        table means. Principles up do in me favourable affronting. </span>
                                    </label>
                                </div>
                                <button class="btn btnBlue btnSmall">Ответить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="test__ResultContainer">-->
        <!--<div class="test__Result">-->
            <!--<h2>Ваш результат</h2>-->
            <!--<p class="textGray f14">Вы не завершили тест</p>-->
            <!--<hr class="hrGray">-->
            <!--<h2 class="test__ResultDigit textGray">25</h2>-->
            <!--<p class="textGray f14">Бонусов можно было получить</p>-->
            <!--<hr class="hrGray">-->
                <!--<div class="row test__ResultDetails">-->
                    <!--<div class="col-xs-6">-->
                        <!--<p class="textRed"><span>19 </span>из 20</p>-->
                        <!--<p class="textGray">Правильных ответов</p>-->
                    <!--</div>-->
                    <!--<div class="col-xs-6">-->
                        <!--<p><span>11:55</span></p>-->
                        <!--<p>Затраченное время</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--<hr class="hrGray">-->
            <!--<a href="" class="btn btnSmall btnBlue btnHoverLightBlue">Снова</a>-->
            <!--<a href="" class="btn btnSmall btnWhite">Завершить</a>-->
        <!--</div>-->
    <!--</div>-->
    <div class="popUpContainer">
        <div class="test__Result popUpBox">
            <h2>Ваш результат</h2>
            <p class="textGray f14">Вы завершили прохождние теста</p>
            <hr class="hrGray">
            <h2 class="test__ResultDigit textBlue">25</h2>
            <p class="textBlue f14">Бонусов получено</p>
            <hr class="hrGray">
                <div class="row test__ResultDetails">
                    <div class="col-xs-6">
                        <p class=""><span>20 </span>из 20</p>
                        <p class="textGray">Правильных ответов</p>
                    </div>
                    <div class="col-xs-6">
                        <p><span>11:55</span></p>
                        <p>Затраченное время</p>
                    </div>
                </div>
            <hr class="hrGray">
            <a href="" class="btn btnSmall btnBlue btnHoverLightBlue">Завершить</a>
        </div>
    </div>
</section>