<div class="styleGuide">
    <ul>
        <li>Unordered list</li>
        <li>Unordered list</li>
        <li>Unordered list</li>
    </ul>
    <ol>
        <li>Ordered list</li>
        <li>Ordered list</li>
        <li>Ordered list</li>
    </ol>
    <button class="btn btnLarge btnBlue">Default btnBlue</button>
    <br>
    <button class="btn btnBlue btnHoverLightBlue">Default btnHoverLightBlue</button>
    <br>
    <button class="btn btnSmall btnWhite">Default btnWhite</button>
    <br>
    <button type="button" disabled class="btn btnSmall btnWhite">Default disabled</button>
    <br>
    <input type="email" class="input" placeholder="Введите свой e-mail">
</div>